%footer.footer
  .container.d-flex.justify-content-center
    .footer-content.pt-1
      %p.mb-0 Copyright © 2019 Dejavu.
      %p.mb-2
        ESTE SITIO NO TIENE FINES DE LUCRO CON LA
        REPRODUCCIÓN O EXPLOTACIÓN DE LOS FONOGRAMAS. NO OFRECE NINGÚN 
        TIPO DE DESCARGA GRATUITA NI BAJO NINGÚN TIPO DE COBRO.
        
%script{ src:"assets/js/jquery.min.js"}
%script{:src => "//cdn.voscast.com/player/?key=fe5e4e07b3339a0c22e12034bc8e2276", :type => "text/javascript"}
/ VosCast.com Playlist Files
%script{:src => "//cdn.voscast.com/resources/?key=fe5e4e07b3339a0c22e12034bc8e2276&c=playlist", :type => "text/javascript"}
/ End Playlist Files
%script{ src:"assets/js/bootstrap.min.js"}
%script{ src:"assets/js/slick.min.js"}
%script{ src:"assets/js/setting-slick.js"}
%script{ src:"assets/js/main.js"}