%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Dejavu - tu radio digital
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }
  -# %link{:as => "style", :href => "assets/css/critical.css", :onload => "assets/css/style.css", :rel => "preload"}/
  %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet"}/
  %link{:href => "assets/css/slick.css", :rel => "stylesheet"}/
  %link{:href => "assets/css/slick-theme.css", :rel => "stylesheet"}/
  %link{:href => "assets/css/font-awesome.css", :rel => "stylesheet"}/
  %link{:href => "assets/css/styles.css", :rel => "stylesheet"}/
