%nav.navbar.navbar-expand-lg.fixed-top  
  %a.navbar-brand.mr-auto.mr-lg-0{:href => "#"}
  %button.navbar-toggler.p-0.border-0.hamburger.hamburger--elastic{"data-toggle" => "offcanvas", :type => "button"}
    %span.hamburger-box
      %span.hamburger-inner
  #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
    .container
      .row.d-flex.align-items-center.content-navbar
        .col-lg-4.col-md-4.col-sm-4
          %img{src:"assets/img/img_1.png", alt:""}/
        .col-lg-4.col-md-4.col-sm-4.d-flex.justify-content-center
          %img{src:"assets/img/img_2.png", alt:""}/
        .col-lg-4.col-md-4.col-sm-4.d-flex.justify-content-end
          %a.oneline{:href => "#"} ONELINE RADIO
        .col-lg-4.col-md-4.col-sm-4.mt-4
          %img{src:"assets/img/img_3.png", alt:""}/
        .col-lg-4.col-md-4.col-sm-4.mt-4.d-flex.align-items-center{style: "flex-direction: column;"}
          %img{src:"assets/img/img_4.png", alt:""}/
          .redes-sociales.mt-2
            %a{href:""}
              %img.redes{src:"assets/img/1.png", alt:""}/
            %a{href:""}
              %img.redes{src:"assets/img/2.png", alt:""}/
            %a{href:""}
              %img.redes{src:"assets/img/3.png", alt:""}/
            %a{href:""}
              %img.redes{src:"assets/img/4.png", alt:""}/
            %a{href:""}
              %img.redes{src:"assets/img/5.png", alt:""}/
            %a{href:""}
              %img.redes{src:"assets/img/6.png", alt:""}/
        .col-lg-4.col-md-4.col-sm-4.mt-4.d-flex.justify-content-end
          %button.menu-desk-js.p-0.border-0.hamburger.hamburger--elastic{"data-toggle" => "offcanvas", :type => "button"}
            %span.hamburger-box
              %span.hamburger-inner
      .menu-mobil.d-lg-none
        %ul.navbar-nav.p-4
          %li.nav-item
            %a.nav-link.active{:href => "index.html"} Inicio
          %li.nav-item
            %a.nav-link{:href => "about.html"} Quiénes somos
          %li.nav-item
            %a.nav-link{:href => "notice.html"} Noticias
          %li.nav-item
            %a.nav-link{:href => "collaborators.html"} Colaboradores
.menu-sidebar
  %ul.navbar-nav.p-4
    %li.nav-item
      %a.nav-link.active{:href => "index.html"} Inicio
    %li.nav-item
      %a.nav-link{:href => "about.html"} Quiénes somos
    %li.nav-item
      %a.nav-link{:href => "notice.html"} Noticias
    %li.nav-item
      %a.nav-link{:href => "collaborators.html"} Colaboradores