:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  - $action_name = 'index'
  %body
    = render ('app/partials/navbar.haml')
    %section.welcome{style: "background-image: url('assets/img/bg_1.webp')"}
      .container
        .row
          .col-lg-6
            .content-text
              .img-welcome
                %h1 ¿Quiénes Somos?
                -# %img{src: "assets/img/about.webp", alt: ""}
              .text-welcome.mt-4
                %p Dejavu nace en la ciudad de East Hartford- Connecticut como emisora online en el año 2017 posicionándose como una de las principales emisoras online. Su enfoque únicamente en el estilo de música de los años 80.
          .col-lg-6
            .content-text
              .img-welcome
                %h1 História
                -# %img{src: "assets/img/story.webp", alt: ""}
              .text-welcome.mt-4
                %p wdjv.us nace en la ciudad de Connecticut – Estados unidos como emisora bajo el nombre de Dejavu tu radio digital en el año 2018 posicionándose como una de las principales emisoras en linea. Con ánimo de extenderse Dejavu empezó a diversificar su música en diferentes canales de emisión desde el año 2018. Especializada en géneros como el Hip hop, salsa y merengue todo al estilo de los 80 entre otros. Dejavu seguirá creciendo cada día más para el disfrute de todos sus oyentes a nivel nacional e internacional.

    = render ('app/partials/footer.haml') 
