:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  - $action_name = 'about'
  %body
    = render ('app/partials/navbar.haml')
    %section.welcome{style: "background-image: url('assets/img/bg_1.webp')"}
      .container
        .row
          .col-lg-6
            .content-text
              .img-welcome
                -# %h1 ¿Quiénes Somos?
                %img{src: "assets/img/about.webp", alt: ""}
              .text-welcome.mt-4
                %p Dejavu nace en la ciudad de East Hartford- Connecticut como emisora online en el año 2017 posicionándose como una de las principales emisoras online. Su enfoque únicamente en el estilo de música de los años 80.
          

    = render ('app/partials/footer.haml') 
