:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  - $action_name = 'collaborators'
  %body
    = render ('app/partials/navbar.haml')
    %section.welcome.welcome-movil{style: "background-image: url('assets/img/bg_1.webp')"}
      .container
        .row
          .col-lg-4
            .content-text
              .img-welcome
                -# %h1 ¿Quiénes Somos?
                %img{src: "assets/img/colaboradores.webp", alt: ""}
              .row
                .col-lg-6.col-6
                  .image-colaborador
                    %img{src: "assets/img/collaborators_1.webp", alt: ""}
                .col-lg-6.col-6
                  .image-colaborador
                    %img{src: "assets/img/collaborators_2.webp", alt: ""}
                .col-lg-6.col-6
                  .image-colaborador
                    %img{src: "assets/img/collaborators_3.webp", alt: ""}
                .col-lg-6.col-6
                  .image-colaborador
                    %img{src: "assets/img/collaborators_2.webp", alt: ""}
          .col-lg-8
            .row
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                  -# %img{src: "assets/img/colaboradores.webp", alt: ""}
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                -# %img{src: "assets/img/colaboradores.webp", alt: ""}
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                  -# %img{src: "assets/img/colaboradores.webp", alt: ""}
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                -# %img{src
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                  -# %img{src: "assets/img/colaboradores.webp", alt: ""}
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                -# %img{src
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                -# %img{src
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                  -# %img{src: "assets/img/colaboradores.webp", alt: ""}
              .col-lg-4.col-6.d-flex.justify-content-center
                .image-colaborador
                -# %img{src
              
                      
    = render ('app/partials/footer.haml') 
