:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  - $action_name = 'index'
  %body
    = render ('app/partials/navbar.haml')
    %section.welcome{style: "background-image: url('assets/img/bg_1.webp')"}
      .container
        .row
          .col-lg-6.col-md-6.col-sm-12.col-12
            .content-text
              .img-welcome
                %h1 Bienvenidos
              .text-welcome.mt-4
                %p Esperamos que este encuentro con Dejavu sea muy emotivo y que no solamente recuerdes los buenos tiempos, sino que también vivas momentos muy agradables. Gracias por tu visita, tu persona es siempre bienvenida. Disfruta la música.
          .col-lg-6.col-md-6.col-sm-12.col-12
            .content-video
              .title-video.d-flex
                %button{:onclick => "playPause()", style: "background-color: transparent; border: 0;outline: 0;"}
                  %i.fa.fa-youtube-play
                %h2 El video del día   
              %video#myVideo{muted: "", poster: "", style: "width: 300px;"}
                %source{src: "assets/img/video.mp4", type: "video/mp4"}
                    
    = render ('app/partials/footer.haml') 
