:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  - $action_name = 'notice'
  %body
    = render ('app/partials/navbar.haml')
    %section.welcome.welcome-movil{style: "background-image: url('assets/img/bg_1.webp');"}
      .container
        .row
          .col-lg-12
            .content-text
              .img-welcome
                %img{src: "assets/img/notice.webp", alt: ""}
              .text-welcome.mt-4
                %p Dejavu se complace en infórmeles que ya puedes escuchar en nuestra plataforma los programas Talento fresco, Ecos de Borinquén y Escritorio público como parte de nuestra programacion Regular.
                %p Para los horarios visita nuestra página de colaboradores.
        .main-carousel.d-none.d-sm-block
          .item
            %img{src:"assets/img/03.webp", alt:""}/
          .item
            %img{src:"assets/img/02.webp", alt:""}/
          .item
            %img{src:"assets/img/02.webp", alt:""}/
          .item
            %img{src:"assets/img/04.webp", alt:""}/
                  
    = render ('app/partials/footer.haml') 
