html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 190px;
}

@media (min-width: 0px) and (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #3e3f36 !important;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
}

@media (max-width: 991.98px) and (min-width: 0px) and (max-width: 767px) {
  .offcanvas-collapse {
    top: 145px;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) and (max-width: 991px) {
  .offcanvas-collapse {
    top: 180px;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

/* -------------------------
   ----- Hamburger Menu ----- 
   ------------------------- */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger-box {
    width: 25px;
  }
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 35px;
  height: 4px;
  background-color: #3e3f36 !important;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hamburger-inner {
    width: 25px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger-inner {
    width: 25px;
  }
}

.hamburger-inner.js-hamburger {
  background-color: #3e3f36 !important;
}

.hamburger-inner.js-hamburger:before {
  background-color: #3e3f36 !important;
}

.hamburger-inner.js-hamburger::after {
  background-color: #3e3f36 !important;
}

.hamburger-inner::before {
  width: 35px;
  height: 4px;
  background-color: #3e3f36 !important;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hamburger-inner::before {
    width: 25px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger-inner::before {
    width: 25px;
  }
}

.hamburger-inner:after {
  width: 35px;
  height: 4px;
  background-color: #3e3f36 !important;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hamburger-inner:after {
    width: 25px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger-inner:after {
    width: 25px;
  }
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 6px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger--elastic .hamburger-inner::before {
    top: 8px;
    transition: opacity 0.125s 0.275s ease;
  }
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger--elastic .hamburger-inner::after {
    top: 16px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

@media (min-width: 0px) and (max-width: 767px) {
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -16px, 0) rotate(-270deg);
    transition-delay: 0.075s;
  }
}

/* == Slick dots == */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  position: relative;
}

.slick-dots li {
  height: 10px !important;
  margin: 0 2px !important;
  width: 10px !important;
}

.slick-dots li.slick-active button:before {
  background-color: #41719c !important;
  opacity: 1;
  border-radius: 50%;
}

.slick-dots li button {
  height: 100%;
  width: 100%;
}

.slick-dots li button:before {
  content: "";
  background-color: #3e3f36 !important;
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 50%;
}

/* == Slick arrows == */
.slick-prev, .slick-next {
  height: 50px !important;
  width: 50px !important;
  background-repeat: repeat-y;
  background-size: 0% 0em;
  background-position: 0 35%;
  transition: 600ms ease-in-out;
}

@media (min-width: 0px) and (max-width: 767px) {
  .slick-prev, .slick-next {
    top: 50% !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .slick-prev, .slick-next {
    top: 75%;
  }
}

.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome' !important;
}

.slick-prev {
  left: -4%;
  z-index: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .slick-prev {
    left: -5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slick-prev {
    left: -8%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .slick-prev {
    left: -18%;
  }
}

.slick-prev:before {
  content: "\f060" !important;
  color: #3f3f3f !important;
}

.slick-prev:hover:before {
  content: "\f060" !important;
  color: #41719c !important;
}

.slick-next {
  right: -44px !important;
}

@media (min-width: 1601px) and (max-width: 2048px) {
  .slick-next {
    right: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slick-next {
    right: 4%;
  }
}

.slick-next:before {
  content: "\f061" !important;
  color: #3f3f3f !important;
}

.slick-next:hover:before {
  content: "\f061" !important;
  color: #41719c !important;
}

/* -------------------------
   -----  Nav -----
   ------------------------- */
.navbar {
  background-color: #3e3f36;
  width: 100%;
}

.content-navbar {
  width: 100%;
}

img {
  width: 90px;
  height: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  img {
    width: 50px;
  }
}

.audio {
  width: 200px;
  height: 100px;
}

.audio img {
  width: 100%;
}

.world {
  width: 70px;
}

.company {
  width: 100px;
}

.voice {
  width: 100px;
}

.online {
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  transition: 0.3s ease-in-out;
  font-family: "Teko", system-ui;
}

.online:hover {
  text-decoration: none;
  color: #f78f1e;
  transition: 0.3s ease-in-out;
}

.menu-desk {
  background-color: #41719c;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .menu-desk {
    width: 35px;
    height: 35px;
  }
}

.redes {
  width: 30px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .redes {
    width: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .redes {
    width: 25px;
  }
}

.follow {
  margin-left: 100px;
  width: 120px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .follow {
    width: 90px;
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .follow {
    margin-left: 50px;
  }
}

.redes-sociales {
  margin-left: 100px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .redes-sociales {
    margin-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .redes-sociales {
    margin-left: 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .redes-sociales {
    margin-left: 0;
    display: flex;
  }
}

.redes-movil {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.menu-sidebar {
  width: 20%;
  height: 500px;
  background-color: #3e3f36;
  position: absolute;
  right: -20%;
  z-index: 9999;
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-sidebar {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .menu-sidebar {
    display: none;
  }
}

.menu-sidebar.open {
  right: 0;
  transition: 0.5s ease-in-out;
  position: fixed;
}

.nav-link {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  transition: .5s ease-in-out;
  position: relative;
  transition: all 2s;
  overflow: hidden;
  font-family: "Teko", system-ui;
}

.nav-link::before {
  left: 0%;
  bottom: 0;
  width: 50%;
  height: 3px;
  background: #fff;
  transform: translateX(-101%);
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link::before {
    width: 30%;
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.nav-link:hover {
  color: #41719c;
  font-weight: 400;
  transition: .5s ease-in-out;
}

.nav-link:hover::before {
  transform: translateX(0);
}

.nav-link.active::before {
  transform: translateX(0);
}

/* -------------------------
   -----  Welcome-----
   ------------------------- */
.welcome {
  background-position: center bottom;
  background-repeat: repeat;
  background-size: cover;
  min-height: 500px;
  padding: 40px;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .welcome {
    padding: 80px 20px 40px;
  }
}

.welcome.offcanvas-expanded {
  overflow-y: hidden;
}

.text-welcome p {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-size: 20px;
}

.img-welcome {
  width: 200px;
}

.img-welcome h1 {
  color: #f78f1e;
  font-weight: 800;
  font-family: "Teko", system-ui;
}

.img-welcome img {
  width: 100%;
}

.content-video {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 250px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-video {
    align-items: center;
    margin-top: -20px;
  }
}

.content-video .title-video {
  border-radius: 10px;
  width: 55%;
  margin-bottom: 20px;
  background-color: #41719c;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-video .title-video {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-video .title-video {
    width: 95%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-video .title-video {
    width: 100%;
  }
}

.content-video .title-video h2 {
  font-family: "Teko", system-ui;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  padding: 10px 5px 0px;
  text-align: center;
}

.content-video .title-video i {
  color: #fff;
  font-size: 90px;
}

#myVideo {
  width: 65%;
  border: 5px solid #41719c;
  border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
  #myVideo {
    width: 100%;
  }
}

/* -------------------------
   -----  Footer -----
   ------------------------- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3e3f36;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.footer-content {
  width: 50%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .footer-content {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-content {
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .footer-content p {
    font-size: 10px;
  }
}

/* -------------------------
   -----  Carousel -----
   ------------------------- */
.main-carousel {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-carousel {
    margin-top: 40px;
  }
}

.item {
  width: 300px;
  height: 230px;
  padding: 5px;
}

.item img {
  width: 100%;
}

.image-colaborador {
  margin: 20px;
  width: 100px;
  height: 120px;
  border-radius: 30px;
  border: 3px solid #41719c;
}

.image-colaborador img {
  border-radius: 30px;
  width: 100%;
}
